<div class="storage-container">
  <button
    pButton
    label="Add Backup Destination"
    icon="pi pi-plus"
    (click)="openDialog()"
  ></button>
  <h2 class="page-title">Backup Storage Options</h2>

  <div class="storage-grid">
    <div
      class="storage-box"
      *ngFor="let storage of storages"
      [ngStyle]="{ backgroundColor: storage.color }"
    >
      <div class="icon-container">
        <i [class]="storage.icon" class="storage-icon"></i>
      </div>
      <h3 class="storage-title">{{ storage.name }}</h3>
      <p class="storage-description">{{ storage.description }}</p>
    </div>
  </div>
  <p-dialog
    header="Backup Destination Configuration"
    [(visible)]="displayModal"
    [modal]="true"
    [style]="{ width: '90%', height: '80vh' }"
  >
    <form [formGroup]="storageForm">
      <div class="row">
        <div class="col-md-4 mb-3">
          <label for="storageType">Storage Type</label> &nbsp;
          <p-dropdown
            id="storageType"
            formControlName="StorageTypeId"
            [options]="storageTypes"
            optionLabel="name"
            
            placeholder="Select Storage Type"
            (onChange)="onStorageTypeChange($event)"
          ></p-dropdown>
        </div>

        <div class="col-md-4 mb-3" *ngIf="isCloudStorage">
          <label for="cloudStorage">Cloud Storage</label> &nbsp;
          <p-dropdown
            id="cloudStorage"
            formControlName="CloudStorageId"
            [options]="cloudStorages"
            optionLabel="name"
            placeholder="Select Cloud Storage"
            (onChange)="onCloudStorageChange($event)"
          ></p-dropdown>
        </div>
      </div>
      <div class="row">
        <ng-container *ngIf="!isCloudStorage">
          <div class="col-md-4 mb-3">
            <label for="nfsIp">NFS IP</label>
            <input
              class="form-control"
              id="nfsIp"
              formControlName="NFS_IP"
              type="text"
              placeholder="Enter NFS IP"
            />
          </div>

          <div class="col-md-4 mb-3">
            <label for="nfsUser">NFS Access User ID</label>
            <input
              class="form-control"
              id="nfsUser"
              formControlName="NFS_AccessUserID"
              type="text"
              placeholder="Enter User ID"
            />
          </div>

          <div class="col-md-4 mb-3">
            <label for="nfsPassword">NFS Password</label>
            <input
              class="form-control"
              id="nfsPassword"
              formControlName="NFS_Password"
              type="password"
              placeholder="Enter Password"
            />
          </div>

          <div class="col-md-4 mb-3">
            <label for="nfsLocationPath">NFS Location Path</label>
            <input
              class="form-control"
              id="nfsLocationPath"
              formControlName="NFS_LocationPath"
              type="text"
              placeholder="Enter Path"
            />
          </div>
        </ng-container>

        <ng-container *ngIf="isAWS">
          <div class="col-md-4 mb-3">
            <label for="awsAccessKey">AWS Access Key</label>
            <input
              class="form-control"
              id="awsAccessKey"
              formControlName="AWS_AccessKey"
              type="text"
              placeholder="Enter AWS Access Key"
            />
          </div>

          <div class="col-md-4 mb-3">
            <label for="awsSecretKey">AWS Secret Key</label>
            <input
              class="form-control"
              id="awsSecretKey"
              formControlName="AWS_SecretKey"
              type="password"
              placeholder="Enter AWS Secret Key"
            />
          </div>

          <div class="col-md-4 mb-3">
            <label for="awsBucket">AWS Bucket Name</label>
            <input
              class="form-control"
              id="awsBucket"
              formControlName="AWS_BucketName"
              type="text"
              placeholder="Enter AWS Bucket Name"
            />
          </div>

          <div class="col-md-4 mb-3">
            <label for="awsRegion">AWS Region</label>
            <input
              class="form-control"
              id="awsRegion"
              formControlName="AWS_Region"
              type="text"
              placeholder="Enter AWS Region"
            />
          </div>

          <div class="col-md-4 mb-3">
            <label for="awsBackupPath">AWS Backup Path</label>
            <input
              class="form-control"
              id="awsBackupPath"
              formControlName="AWS_backUpPath"
              type="text"
              placeholder="Enter Backup Path"
            />
          </div>
        </ng-container>
        <ng-container *ngIf="isAzure">
          <div class="col-md-4 mb-3">
            <label for="azAccountName">AZ Account Name</label>
            <input
              class="form-control"
              id="azAccountName"
              formControlName="AZ_AccountName"
              type="text"
              placeholder="Enter Account Name"
            />
          </div>

          <div class="col-md-4 mb-3">
            <label for="azKey">AZ Account Key</label>
            <input
              class="form-control"
              id="azKey"
              formControlName="AZ_AccountKey"
              type="text"
              placeholder="Enter Key"
            />
          </div>
        </ng-container>
      </div>
    </form>
    <ng-template pTemplate="footer">
      <div class="row">
        <div class="col-md-6 mb-3"></div>
        <div class="col-md-3 mb-3">
          <button class="btn btn-success" type="submit" (click)="saveStorage()">
            Save
          </button>
        </div>
        <div class="col-md-3 mb-3">
          <button class="btn btn-danger" type="button" (click)="closeDialog()">
            Cancel
          </button>
        </div>
      </div>
    </ng-template>
  </p-dialog>
</div>
