<div class="card p-4 shadow-lg source-page-container">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h4 class="text-primary"><i class="pi pi-calendar"></i> Schedule Backup</h4>
  </div>

  <div class="card shadow-lg p-4 bg-white rounded">
    <p-toast></p-toast>
    <form [formGroup]="scheduleForm" (ngSubmit)="onSubmit()">
      <div class="row mb-3">
        <div class="col-md-3">
          <label for="backUpStorageConfiguationId" class="form-label fw-bold">
            <i class="pi pi-database"></i> Backup Configuration
            <span class="text-danger">*</span> </label
          ><br />
          <p-dropdown
            id="backUpStorageConfiguationId"
            [options]="backupConfigs"
            formControlName="sourceConfiguationId"
            optionLabel="label"
            optionValue="backUpStorageConfiguationId"
            placeholder="Select Configuration"
            [style]="{ width: '100%' }"
          ></p-dropdown>
        </div>

        <div class="col-md-3">
          <label for="frequency" class="form-label fw-bold">
            <i class="pi pi-clock text-primary"></i> Frequency
            <span class="text-danger">*</span> </label
          ><br />
          <p-dropdown
            id="frequency"
            [options]="frequencies"
            formControlName="frequency"
            optionLabel="label"
            placeholder="Select Frequency"
            [style]="{ width: '100%' }"
            (onChange)="onFrequencyChange($event)"
          ></p-dropdown>
        </div>

        <div class="col-md-3" *ngIf="showDayOfMonth">
          <label for="dayOfMonth" class="form-label fw-bold">
            <i class="pi pi-calendar-plus text-primary"></i> Day of the Month
            <span class="text-danger">*</span> </label
          ><br />
          <p-dropdown
            id="dayOfMonth"
            [options]="daysOfMonth"
            formControlName="dayOfMonth"
            optionLabel="label"
            placeholder="Select Day"
            [style]="{ width: '100%' }"
          ></p-dropdown>
        </div>

        <div class="col-md-3" *ngIf="showDayOfWeek">
          <label for="dayOfWeek" class="form-label fw-bold">
            <i class="pi pi-calendar text-primary"></i> Day of the Week
            <span class="text-danger">*</span> </label
          ><br />
          <p-dropdown
            id="dayOfWeek"
            [options]="daysOfWeek"
            formControlName="dayOfWeek"
            optionLabel="label"
            placeholder="Select Day"
            [style]="{ width: '100%' }"
          ></p-dropdown>
        </div>

        <div class="col-md-3">
          <label for="time" class="form-label fw-bold">
            <i class="pi pi-clock text-primary"></i> Time
            <span class="text-danger">*</span>
          </label>
          <input
            type="time"
            id="time"
            formControlName="time"
            class="form-control"
            required
          />
        </div>
      </div>

      <div class="text-end mt-4">
        <button type="submit" class="btn btn-primary px-4">
          <i class="pi pi-check-circle"></i> Schedule Task
        </button>
      </div>
    </form>
   
    

  </div>
  <div *ngIf="isSaving" class="loading-overlay">
    <i class="pi pi-spin pi-spinner loader-icon"></i>
    <p class="loading-text text-white">&nbsp;Please Wait...</p>
  </div>
</div>
